*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

.container{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header{
    grid-area: header;
    margin: 60px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_header{
    color: #efc5e1;
    height: 39px;
    width: 140px;
    background-color: white;
    border: 2px solid #efc5e1;
    border-radius: 20px;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.section{
    display: flex; 
    align-items: center;
    justify-content: center;

}

.section01{
    flex-direction: column;
    text-align: center;
    margin: 60px 0px;
}

.section01 h1{
    color: #072630;
    font-size: 45px;
}

.section01 p{
    font-size: 19px;
    color: #072630;
}

.btn_section_frist{
    width: 300px;
    height: 55px;
    background-color: #ff8ed6;
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 40px;
}

.img_screen{
    width: 70%;
}

.section03{
    justify-content: space-evenly;
    margin-top: 100px;
}

.section03 h1{
    font-size: 60px;
}

.section03 div{
    width: 47px;
}

.section04{
    margin: 200px 100px;
}

.section04 h1{
    font-size: 36px;
    color: #072630;
}

.section04 p {
    font-size: 17px;
    color: #072630;
}

.section07{
    flex-direction: column;
    margin: 100px;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #072630;
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

footer div{
    margin: 40px 0;
}

.icon_img{
    width: 23px;
    margin-right: 20px;
}

.img_logo_footer{
    width: 250px;
    color: white;
}

.icons{
    font-size: 35px;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

#email{
    width: 300px;
    height: 39px;
    border-radius: 5px;
}

.btn_footer{
    width: 130px;
    height: 39px;
    margin-left: 25px;
    color: white;
    background-color: #ff8ed6;
    border-radius: 5px;
}

@media (max-width:700px) {
    
    .section{
        flex-direction: column;
        text-align: center;
    }   

    img{
        width: 50%;
    }

    .section h1{
        font-size: 20px;
    }

    .section p {
        font-size: 15px;
    }

    

    .section04{
        margin: 50px;
    }
    
    .section03{
       
        margin: 50px ;

    }

    

    .cont_esq{
        padding-bottom: 100px;

    }

    footer{
        flex-direction: column;
        padding-left: 5%;
        
    }

    


    footer div{
        margin: 20px 0;
        width: 300px;
    }
}
